__pycache__/
*__pycache__*
AiShell1/PPGs
AiShell1/MFCCs
AiShell1/dev
AiShell1/test
AiShell1/_old_files
aishell1_ckpt_model_dir/
aishell1_log_dir/
*.txt
DataBaker-Mandarin-PPG/
LJSpeech-1.1-Mandarin-PPG/
DataBaker-Mandarin-PPG-old/
LJSpeech-1.1-Mandarin-PPG-old/
aishell_ckpt_model_dir_v2_v3_backup/